<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la requête n’est ni un fichier, ni un dossier, on redirige vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>